.consPros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.haveList,
.notHaveList {
    display: inline-block;
    margin: 25px;
    height: 100%;
}

.haveList ul,
.notHaveList ul {
    padding: 0;
    padding-left: 20px;
}