.techUsed {
  display: block;
  margin: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 0 3px black;
}

.techs {
  display: block;
  text-align: center;
}

.tech {
  position: relative;
  display: inline-block;
  margin: 10px 25px;
}

.tech span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.siteUrl {
  margin: 25px;
  text-align: center;
}

.siteUrl a {
  text-decoration: none;
  color: rgb(193, 0, 151);
}

.siteUrl a:hover {
  text-decoration: underline;
}
