.aboutMeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eduJobBox {
  margin: 15px;
  max-width: 1170px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 25px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
}

.langSoftwareBox {
  width: calc(100% - 30px);
  display: flex;
  max-width: 1170px;
  margin: 15px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0 25px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
}

.eduJobBox h3,
.langSoftwareBox h3 {
  font-size: 22px;
  padding: 0 25px;
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.eduJobBox h3 > span:first-child,
.langSoftwareBox h3 > span:first-child {
  padding-right: 16px;
  font-size: 35px;
}

.eduJobBox h3 > span:nth-child(2),
.langSoftwareBox h3 > span:nth-child(2) {
  display: block;
  position: relative;
}

.eduJobBox h3 > span:nth-child(2):after,
.langSoftwareBox h3 > span:nth-child(2):after {
  content: "";
  width: 100%;
  background-color: white;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: skewX(-60deg);
}

.eduJobItem {
  margin: 25px 15px;
  width: calc(100% - 30px);
}

.langSoftwareItem {
  margin: 0 15px;
}

.langSoftwareItem img {
  width: auto;
}

.langSoftwareItem > span:first-child {
  padding: 10px;
}

.langSoftwareItem > span:nth-child(2) {
  font-size: 13px;
  padding-bottom: 4px;
}

.langSoftwareItem {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.langSoftwareItem img {
  height: 32px;
  width: auto;
}

.langSoftwareItem svg {
  height: 32px;
}

.eduJobItem > p {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.eduJobItem > p > span:nth-child(2) {
  font-weight: 100;
}

.eduJobItem > span {
  font-size: 11px;
}

.knowledge {
  display: block;
}

.knowledge .full,
.knowledge .empty {
  display: inline-block;
  border-radius: 50%;
  margin: 0 1px;
  width: 12px;
  height: 12px;
  border: 2px solid black;
}

.knowledge .empty {
  background-color: rgb(70, 70, 70);
}

.knowledge .full {
  background-color: rgb(170, 255, 0);
}

.langSoftwareContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 800px) {
  .langSoftwareContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) and (min-width: 360px) {
  .eduJobBox h3,
  .langSoftwareBox h3 {
    font-size: 26px;
  }
}

@media screen and (max-width: 359.99px) {
  .eduJobBox h3,
  .langSoftwareBox h3 {
    font-size: 18px;
  }
}

.langSoftwareBox a {
  text-decoration: none;
  color: white;
}

.langSoftwareBox a:hover {
  text-decoration: underline;
}

.personDetails {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1170px;
  width: calc(100% - 30px);
  margin: 15px;
  padding: 10px 0 25px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.details span {
  padding: 10px 0;
}

.details a {
  color: white;
  text-decoration: none;
}

.details .name {
  font-size: 32px;
}

.avatar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.avatar > div {
  border-radius: 50%;
  overflow: hidden;
}

.percentBar {
  width: 100px;
  height: 15px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 11px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.knowPercent {
  width: 50%;
  height: 100%;
  border-radius: 12px;
  background-color: rgba(51, 70, 209, 0.7);
  text-align: center;
  line-height: 13px;
}
