.contactContainer {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  padding: 32px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.contactContainer > .imageContainer > svg {
  width: 100%;
}

.contactForm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.06);
}

.contactForm button {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.infoInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

input,
textarea {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  font-family: sans-serif;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.textArea > textarea {
  width: 100%;
  min-height: 120px;
  resize: none;
}

button {
  padding: 10px 15px;
  color: white;
  border-radius: 0;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s color, 0.3s background-color;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 1);
}

.contactBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  max-width: 100%;
  height: calc(100% - 60px);
}

.contactMailPhone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contactBoxes a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px;
  padding: 8px;
  text-decoration: none;
  color: white;
}

.contactIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.contactBoxes a > .contactIcon > svg {
  font-size: 26px;
}

.contactForm label {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 11px;
}

.infoInputs input {
  width: 100%;
}

@media screen and (max-width: 936px) {
  .contactContainer {
    flex-direction: column;
    width: 100%;
  }
  .imageContainer {
    width: 100%;
  }
  .contactForm {
    width: 100%;
    max-width: 100%;
  }
}

.loadingBox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.error {
  display: block;
  width: 100%;
  padding-bottom: 8px;
  text-align: center;
  font-size: 10px;
  color: red;
}

.copyrights {
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

.copyrights > * {
  margin: 8px 4px;
}

.afterSendContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
