.home {
  text-align: center;
  min-width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home > div > * {
  margin: 16px;
}

.socials a {
  text-decoration: none;
  padding: 8px;
  transition: opacity 0.3s;
  opacity: 0.7;
}

.socials a svg {
  width: 40px;
  height: 40px;
}

.socials a:hover {
  opacity: 1;
}

.text {
  font-size: 32px;
  display: block;
}

.cursor {
  animation: fadeIn 0.5s infinite alternate;
  background-color: white;
  width: 1px;
  height: 25px;
  display: inline-block;
  margin-left: 3px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typing {
  font-weight: 700;
}
