.heading {
  text-align: center;
}

.projects {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.projects > .project {
  position: relative;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px #000;
  overflow: hidden;
}

.projects > .project > .contentMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.projects > .project > .contentMenu a,
.projects > .project > .contentMenu span {
  color: white;
  padding: 6px 8px;
  border-radius: 25px;
  border: 2px solid white;
  margin: 0 8px;
  position: relative;
  top: -100px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: top 0.5s, background-color 0.3s;
}

.projects > .project > .contentMenu a:hover,
.projects > .project > .contentMenu span:hover {
  background-color: rgba(0, 0, 0, 1);
}

.projects > .project:hover > .contentMenu {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.projects > .project:hover > .contentMenu a,
.projects > .project:hover > .contentMenu span {
  top: 0;
}

.projects > .project .imageBox {
  overflow: hidden;
}

.projects > .project .imageBox > img {
  transition: transform 0.6s;
}

.projects > .project:hover .imageBox > img {
  transform: scale(1.2);
}

@media screen and (max-width: 599.99px) {
  .projects > .project {
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .projects > .project {
    width: calc(50% - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .projects > .project {
    width: calc(33.333333% - 30px);
  }
}

.techs {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 8px;
  padding-right: 8px;
}

.techs svg {
  height: 32px;
  width: 32px;
  margin: 4px;
}

.more {
  width: 100%;
}

.more a {
  text-decoration: none;
  color: white;
}

.more button {
  display: block;
  margin: 0 auto;
}
