* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(39, 39, 39, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 39, 39, 1);
}

.background {
  background-image: url("../images/bg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: fixed;
  left: 25px;
  top: 25px;
  z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.backgroundGradient {
  background: linear-gradient(
    to left,
    rgba(51, 70, 209, 0.7),
    rgba(53, 0, 52, 0.7)
  );
}

.sliderMain {
  max-height: 100vh;
  overflow: hidden;
}

.sliderMain > div {
  transition: transform 0.8s;
}

@media screen and (min-width: 800px) {
  .page {
    position: relative;
    overflow-y: auto;
    min-height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 799.99px) {
  .page {
    overflow-x: hidden;
  }

  .page > h2 {
    text-align: center;
    opacity: 0.7;
  }
}

.copyrights {
  position: fixed;
  bottom: 4px;
  right: 8px;
  z-index: 9;
  display: flex;
  align-items: center;
}

.copyrights a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 12px;
  transition: color 0.4s;
  opacity: 0.7;
}

.copyrights a svg {
  width: 24px;
  height: 24px;
}

.copyrights a:hover {
  opacity: 1;
}

.copyrights span {
  font-size: 11px;
  padding: 8px;
  line-height: 1px;
}

.nextSlide {
  width: 40px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  margin: 15px auto;
}

.nextSlide:hover {
  opacity: 1;
}

.nextSlide:hover svg {
  bottom: 0;
}

.nextSlide span {
  font-size: 12px;
}

.nextSlide svg {
  position: relative;
  font-size: 25px;
  bottom: 6px;
  transition: bottom 0.3s;
}

.pageContent {
  margin: 15px;
}

.pageContent h2 {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .page > h2 {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 60px;
    margin: 0;
    padding: 0;
    opacity: 0.25;
  }

  .pageContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 60px 110px 0 110px;
    min-height: calc(100vh - 145px);
  }

  .rightBar {
    position: fixed;
    right: 8px;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
  }

  .slideButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .slideButtons > div {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 12px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    justify-content: space-between;
  }

  .slideButtons > div:first-child {
    border-radius: 25px 25px 0 0;
  }

  .slideButtons > div:last-child {
    border-radius: 0 0 25px 25px;
  }

  .slideButtons > div.activeSlide:first-child,
  .slideButtons > div:first-child:hover {
    border-radius: 0 20px 0 0;
  }

  .slideButtons > div.activeSlide:last-child,
  .slideButtons > div:last-child:hover {
    border-radius: 0 0 20px 0;
  }

  .slideButtons > div.activeSlide {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .slideButtons > div > span {
    display: none;
    position: absolute;
    right: 100%;
    top: 50%;
    font-size: 10px;
    min-width: 60px;
    -webkit-transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px 0 0 25px;
    transform: translateY(-50%);
    padding: 14px 0 14px 14px;
    height: 100%;
  }

  .slideButtons > div.activeSlide > span {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .slideButtons > div.activeSlide > span,
  .slideButtons > div:hover > span {
    display: initial;
  }

  .slideButtons > div > svg {
    font-size: 16px;
  }

  .slideButtons > div.activeSlide {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media screen and (max-width: 799.99px) {
  .backgroundGradient {
    padding-top: 95px;
  }

  .sliderMain {
    max-height: none;
  }

  .header {
    width: 100%;
    padding: 25px;
    left: 0;
    height: 95px;
    top: 0;
    background: linear-gradient(to right, rgb(24 1 24), rgb(19 25 66));
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(19 25 66);
    box-shadow: 0 0 3px black;
  }

  .copyrights {
    display: flex;
    justify-content: space-between;
    position: unset;
    background: linear-gradient(to left, rgb(19 25 66), rgb(24 1 24));
    width: 100%;
    padding: 25px;
  }

  .closeMenu {
    font-size: 32px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
  }
}

.menuButton {
  cursor: pointer;
  font-size: 32px;
}

.main {
  min-height: 100vh;
  color: white;
}

@media screen and (min-width: 800px) {
  .main {
    padding: 96px;
  }
}

@media screen and (max-width: 799.99px) {
  .main {
    padding: 25px;
  }
}
